@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* center the dialog */
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav.nav-primary {
  height: var(--nav-height);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
nav.nav-primary > div {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--gap-1);
}
nav.nav-primary > div ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: calc(var(--gap-1, 1rem) * 1.5);
}
nav.nav-primary .hamburger-container {
  display: none;
}
@media (max-width: 50rem) {
  nav.nav-primary.show-nav {
    box-shadow: unset;
  }
  nav.nav-primary .hamburger-container {
    display: block;
  }
  nav.nav-primary ul {
    position: absolute;
    top: 100%;
    margin: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    backdrop-filter: blur(10px);
    scale: 1 0;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1333333333);
    transition: var(--transition-2);
    transform-origin: top;
    padding-block: var(--gap-1);
    align-items: unset !important;
  }
  nav.nav-primary ul.show {
    scale: 1 1;
  }
}
nav.nav-primary .link-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
nav.nav-primary .link-container iconify-icon {
  font-size: 1.2em;
}
nav.nav-primary a {
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 700;
}
nav.nav-primary a.active,
nav.nav-primary a:active {
  color: var(--text-secondary);
}
nav.nav-primary img {
  aspect-ratio: 1;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
nav.nav-primary .logo a {
  display: flex;
  align-items: center;
}

nav.nav-primary.scrolled {
  box-shadow: var(--shadow-1);
  background: var(--bg-header-footer);
  backdrop-filter: blur(10px);
}
nav.nav-primary.scrolled ul {
  background: var(--bg-header-footer);
}

.hamburger-container {
  border: none;
  width: 2.5rem;
  background: none;
  cursor: pointer;
  height: 36px;
  display: grid;
  place-items: center;
}
.hamburger-container .hamburger {
  display: inline-block;
  position: relative;
  height: 3px;
  width: 100%;
  background: var(--text-secondary);
  border-radius: 100vw;
  transition: var(--transition-1);
}
.hamburger-container .hamburger::before, .hamburger-container .hamburger::after {
  content: "";
  position: absolute;
  display: block;
  height: inherit;
  transition: var(--transition-1);
  width: inherit;
  background: inherit;
  border-radius: 100vw;
}
.hamburger-container .hamburger::before {
  top: -9px;
}
.hamburger-container .hamburger::after {
  top: 9px;
}
.hamburger-container .hamburger.active {
  rotate: 45deg;
}
.hamburger-container .hamburger.active::before {
  top: 0;
}
.hamburger-container .hamburger.active::after {
  rotate: -90deg;
  top: 0;
}
.hamburger-container:hover {
  opacity: 0.8;
}

.hover-animate {
  position: relative;
}
.hover-animate::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
  border-radius: 100vw;
  bottom: -2px;
  transform: scale(0, 1);
  transition: all 0.15s;
}
.hover-animate:hover::after {
  transform: scale(1, 1);
}
.hover-animate:focus {
  outline: none;
}
.hover-animate:focus::after {
  transform: scale(1, 1);
}

header {
  position: relative;
  height: 100vh;
  background: #1f1f15;
  z-index: 100;
  display: grid;
  place-items: center;
}
header .hero-bg {
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
header .hero-section {
  color: var(--text-secondary);
  text-align: center;
  --text-special: #19c219;
}
header .hero-section h1 {
  font-size: clamp(3rem, 5vw, 5rem);
  padding-inline: var(--gap-lg);
  color: var(--text-special);
}
header .hero-section p {
  font-size: var(--fz-3xl);
  padding-inline: var(--gap-lg);
}

.countdown-container {
  --fz: clamp(0.8rem, 1.5vw, 1.5rem);
  font-size: calc(var(--fz) * 1.4);
  padding-inline: 10vw;
  padding-block: var(--gap-lg);
  margin-inline: auto;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  z-index: -1;
}

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  align-items: center;
  font-size: var(--fz);
  z-index: -1;
}
.countdown .time {
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
  font-weight: 900;
  border: 1px solid currentColor;
  padding: 1rem;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.2em currentColor;
  color: var(--text-special);
  background-color: rgba(0, 50, 100, 0.2);
  z-index: 0;
}
.countdown .time .num {
  font-size: 2em;
}

main > section:nth-child(2n) {
  background: var(--bg-secondary);
}
@media (min-width: 1000px) {
  main > section:nth-child(2n) .info :first-child {
    order: 2;
  }
}
main section {
  padding: var(--gap-1);
  display: grid;
  place-items: center;
}
main section .container {
  max-width: var(--max-width);
  margin-inline: auto;
}
main section .info {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-1);
  font-size: var(--fz-xl);
}
main section .info > * {
  border-radius: var(--radius-1) !important;
  overflow: hidden !important;
}
main section .info > .image-container {
  width: 100%;
  object-fit: contain;
}
main section .info p {
  max-width: 50ch;
}
main section .info .share {
  all: unset;
  cursor: pointer;
  position: relative;
}
main section .info .share iconify-icon {
  color: #0af;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5333333333);
  opacity: 0;
  transition: var(--transition-1);
  z-index: 1;
}
main section .info .share:hover iconify-icon {
  opacity: 1;
}
main h2 {
  font-size: var(--fz-3xl);
  position: relative;
  width: fit-content;
  text-align: center;
  display: grid;
  place-items: center;
  margin-bottom: var(--gap-lg);
}
main h2::after {
  content: "";
  display: block;
  height: 0.2em;
  width: 50%;
  background: currentColor;
}
main .events-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap-1);
}
main .events-container .events {
  background: rgba(255, 255, 255, 0.2);
  border-radius: calc(var(--radius-1) * 2);
  padding-inline: var(--gap-1);
  padding-block: calc(var(--gap-1) / 2);
  padding-block: var(--gap-lg);
  box-shadow: var(--shadow-2);
}
main .events-container .events p {
  font-size: calc(var(--fz-2xl) * 0.9);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main h3 {
  font-size: var(--fz-2xl);
  text-align: center;
  margin-bottom: var(--gap-lg);
  width: fit-content;
  margin-inline: auto;
  display: grid;
  place-items: center;
}
main h3::after {
  content: "";
  display: block;
  height: 0.2em;
  opacity: 0.4;
  width: 50%;
  background: currentColor;
}
main .events p,
main .schedule p {
  margin: calc(var(--gap-small) * 2);
  position: relative;
}
main .events p::after,
main .schedule p::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background: currentColor;
  opacity: 0.2;
  bottom: calc(var(--gap-small) * -1);
}
main .schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  border-radius: calc(var(--radius-1) * 2);
  padding-top: var(--gap-lg);
  background: rgba(0, 0, 0, 0.0666666667);
  box-shadow: var(--shadow-3);
}
main .schedule p {
  font-size: var(--fz-xl);
}
main .speakers {
  display: flex;
  justify-content: center;
  gap: var(--gap-lg);
  flex-wrap: wrap;
}
main .speaker {
  box-shadow: var(--shadow-2);
  border-radius: calc(var(--radius-1) * 2);
  overflow: hidden;
  padding-bottom: var(--gap-lg);
  background: var(--bg-primary);
}
main .speaker img {
  aspect-ratio: 9/10;
  height: 20rem;
  box-shadow: var(--shadow-2);
}
main .speaker h3 {
  margin-block: var(--gap-small);
}
main .speaker h3::after {
  content: unset;
}
main .speaker p {
  text-align: center;
  font-size: var(--fz-xl);
}
@media (max-width: 1000px) {
  main .info,
  main .events-container {
    grid-template-columns: 1fr !important;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5333333333);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay.hidden {
  display: none;
}

dialog.share-modal {
  background: var(--bg-header-footer);
  border: none;
  font-family: inherit;
  color: var(--text-secondary);
  padding: var(--gap-1);
}
dialog.share-modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}
dialog.share-modal [method=dialog] button {
  padding: 0;
  all: unset;
  font-size: 3rem;
  color: var(--text-secondary);
  position: absolute;
  top: calc(var(--gap-small) / 2);
  right: calc(var(--gap-small) * 2);
  cursor: pointer;
}
dialog.share-modal .btn-container {
  padding: var(--gap-lg);
}
dialog.share-modal #copy-sfd {
  background: none;
  border: none;
  color: var(--text-secondary);
  font-size: var(--fz-3xl);
  cursor: pointer;
  transition: var(--transition-1);
  border-radius: var(--radius-1);
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}
dialog.share-modal #copy-sfd:hover, dialog.share-modal #copy-sfd:focus {
  background: rgba(255, 255, 255, 0.1333333333);
}
dialog.share-modal #copy-sfd iconify-icon {
  color: #0ccaca;
}
dialog.share-modal #copy-sfd:active {
  background: none;
}

footer {
  background: var(--bg-header-footer);
  color: var(--text-secondary);
  padding-block: var(--gap-lg);
  font-size: var(--fz-xl);
}
footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin-inline: auto;
}
footer .container div {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: var(--gap-lg);
  margin-block: var(--gap-lg);
  padding-inline: var(--gap-lg);
}
footer a {
  color: #0ff;
  opacity: 0.7;
}
footer a:hover {
  opacity: 0.5;
}

:root {
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-primary: #dfdfe5;
  --bg-secondary: #5ca043;
  --bg-header-footer: #2a3d2a;
  --bg-textbox: #1e293b;
  --bg-btn: #0ea5d9;
  --text-primary: #112;
  --text-secondary: #ddd;
  --text-dark: #000;
  --max-width: 96rem;
  --nav-height: 4.5rem;
  --gap-1: clamp(1rem, 3vw, 5rem);
  --gap-small: 0.7rem;
  --gap-lg: 1.4rem;
  --shadow-1: 0 0 1rem #0008;
  --shadow-2: 0 0 1rem #fff3;
  --shadow-3: 0 0 1rem #0003;
  --transition-1: all 0.3s;
  --transition-2: all 0.1s;
  --radius-1: 0.3em;
  --fz-regular: 1rem;
  --fz-sm: 0.8rem;
  --fz-lg: 1.1rem;
  --fz-xl: 1.2rem;
  --fz-2xl: 1.5rem;
  --fz-3xl: 2rem;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*# sourceMappingURL=style.css.map */
