.register-btn {
  color: var(--text-primary);
  font-size: var(--fz-xl);
  display: block;
  margin-inline: auto;
  text-decoration: none;
  padding: calc(var(--gap-lg) * 0.75) calc(var(--gap-lg) * 1.25);
  background: var(--bg-btn);
  border-radius: var(--radius-1);
  margin-block: var(--gap-lg);
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.2em;
    background: inherit;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    border-radius: 100vw;
    transition: all 0.1s;
  }

  &:hover::after {
    opacity: 1;
    bottom: calc(var(--gap-small) * -1);
  }
}
