$blur: 10px;
nav.nav-primary {
  height: var(--nav-height);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);

  & > div {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--gap-1);

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: calc(var(--gap-1, 1rem) * 1.5);
    }
  }

  .hamburger-container {
    display: none;
  }

  @media (max-width: 50rem) {
    &.show-nav {
      box-shadow: unset;
    }

    .hamburger-container {
      display: block;
    }

    ul {
      position: absolute;
      top: 100%;
      margin: 0;
      left: 0;
      width: 100%;
      flex-direction: column;
      backdrop-filter: blur($blur);
      scale: 1 0;
      box-shadow: 0 12px 10px #0002;
      transition: var(--transition-2);
      transform-origin: top;
      padding-block: var(--gap-1);

      align-items: unset !important;

      &.show {
        scale: 1 1;
      }
    }
  }

  .link-container {
    display: flex;
    align-items: center;
    gap: 0.3em;

    iconify-icon {
      font-size: 1.2em;
    }
  }
  a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 700;
  }

  a.active,
  a:active {
    color: var(--text-secondary);
  }

  img {
    height: 4rem;
    object-fit: cover;
  }

  .logo a {
    display: flex;
    align-items: center;
  }
}

nav.nav-primary.scrolled {
  box-shadow: var(--shadow-1);
  background: var(--bg-header-footer);
  backdrop-filter: blur($blur);

  ul {
    background: var(--bg-header-footer);
  }
}

nav.not-fixed {
  position: unset;
  background: var(--bg-header-footer);
}
