@use "reset";
@use "nav";
@use "hamburger";
@use "hover-animate";
@use "hero";
@use "countdown";
@use "main";
@use "overlay";
@use "modal";
@use "footer";
@use "button";

// import font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
  // set font family
  font-family: "Poppins", sans-serif;

  // set font size
  font-size: 1rem;

  @media (max-width: 50rem) {
    font-size: 0.8rem;
  }
}

:root {
  --bg-primary: #dfdfe5;
  --bg-secondary: #5ca043;
  --bg-header-footer: #2a3d2a;

  --bg-textbox: #1e293b;
  --bg-btn: #0ea5d9;

  --text-primary: #112;
  --text-secondary: #ddd;

  --text-dark: #000;

  --max-width: 96rem;

  --nav-height: 4.5rem;
  --footer-height: 4.5rem;

  --gap-1: clamp(1rem, 3vw, 5rem);
  --gap-small: 0.7rem;
  --gap-lg: 1.4rem;

  --shadow-1: 0 0 1rem #0008;
  --shadow-2: 0 0 1rem #fff3;
  --shadow-3: 0 0 1rem #0003;

  --transition-1: all 0.3s;
  --transition-2: all 0.1s;

  --radius-1: 0.3em;

  --fz-regular: 1rem;
  --fz-sm: 0.8rem;
  --fz-lg: 1.1rem;
  --fz-xl: 1.2rem;
  --fz-2xl: 1.5rem;
  --fz-3xl: 2rem;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
