---
import '../styles/style.scss';
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
import Layout from 'src/layout.astro';
---

<Layout title="Software Freedom Day 2024 - KUOSC">
	<header class="home">
		<img src="/assets/hero2023.jpg" alt="Hero image" class="hero-bg" />

		<!-- nav -->
		<Nav />

		<!-- hero section -->
		<section class="hero-section">
			<h1>Software Freedom Day! 2024</h1>
			<p>Kathmandu University, 21<sup>st</sup> September, 2024</p>

			<!-- countdown -->
			<div class="countdown-container">
				<div class="countdown animate__animated animate__lightSpeedInRight">
					<div class="time">
						<span id="days" class="num"></span>
						<span class="text">Days</span>
					</div>
					<div class="time">
						<span id="hours" class="num"></span>
						<span class="text">Hours</span>
					</div>
					<div class="time">
						<span id="minutes" class="num"></span>
						<span class="text">Minutes</span>
					</div>
					<div class="time">
						<span id="seconds" class="num"></span>
						<span class="text">Seconds</span>
					</div>
			</div>
					<!-- <a class="register-btn" href="https://forms.gle/tvyp6QmbY83tEaiT9" target="_blank">Register Here</a> -->
		</section>
	</header>

	<main>
		<section id="sfd">
			<h2>Software Freedom Day</h2>
			<div class="container info">
				<button class="image-container share" data-id="sfd">
					<iconify-icon icon="material-symbols:share"></iconify-icon>
					<img
						src="/assets/ilovesfd.png"
						alt="I LOVE SFD"
					/>
				</button>
				<p>
					<a href="https://softwarefreedomday.org" target="_blank"
						>Software Freedom Day (SFD)</a
					>
					is an annual global celebration of Free and Open Source
					Software(FOSS). It is celebrated with the aim to educate the public
					and increase awareness about Free software, its benifits and
					encouraging its use.Since its inception in 28<sup>th</sup> August, 2004 with
					about 12 participating team, the community has steadily grown to the
					current day where over 300 events are organized by over 100 cities
					from across the world.
				</p>
			</div>
		</section>
		<section>
			<h2>Free And Open Software</h2>
			<div class="container info">
				<img src="/assets/FOSS.png" alt="FOSS" />
				<p>
					Free and Open Source Software (FOSS) refers to software that anyone
					is freely licensed to use, copy, study and change in any way that
					they want, and the source code is openly shared so that people are
					encouraged to volunterily improve the design of the software. Use of
					free software encourages learning and sharing what we have learned
					with others in the community. Other benifits of using FOSS would be
					to decreased software cost, protecting privecy and providing more
					control to the users.
				</p>
			</div>
		</section>
		<section>
			<h2>KUOSC</h2>
			<div class="container info">
				<div class="image-container">
					<img src="/assets/logo.png" alt="KUOSC" style="height: 25rem" />
				</div>
				<p>
					<a href="https://kuosc.org.np/"
						>Kathmandu University Open Source Community (KUOSC)</a
					>
					is the Open Source related wing of KUCC. It is a vibrant historic
					community from Kathmandu University which provides a common platform
					for all FOSS enthusiasts to discuss, share, and learn about free and
					open source softwares. KUOSC is specifically focused on all the Open
					Source related activities ranging from training programs like Linux
					Talks, Useful Network Training to advocacy activities like Software
					Freedom Day celebration and organizing different community level
					workshops and events.
				</p>
			</div>
		</section>
		<!-- events -->
		<!-- <section id="events">
			<h2>Events</h2>
			<div class="container events-container">
				<div class="events">
					<h3>SFD Eve</h3>
					<p><b>Date</b> 15 September, 2023</p>
					<p><b>Time</b> 6:00 PM - 6:45 PM</p>
					<p><b>Venue</b> KU Library Lawn</p>
				</div>

				<div class="events">
					<h3>SFD Event</h3>
					<p><b>Date</b> 16 September, 2023</p>
					<p><b>Time</b> 11:00 AM - 4:00 PM</p>
					<p><b>Venue</b> KU Ciku Hall</p>
				</div>
			</div>
		</section>

		<!-- schedule -->
		<!-- <section id="schedule"> 
		  <h2>Schedule For The Event</h2> 
		  <div class="container schedule"> 
		    <h3>Time</h3> 
		    <h3>Topic</h3> 
		    <h3>Speaker</h3> 
		    <p>11:10 - 11:15</p> 
		    <p>Welcome Speech</p> 
		    <p>Ayush Aryal</p> 
		    <p>11:15 - 11:30</p> 
		    <p>Intro to KUOSC and FOSS</p> 
		    <p>Aadarsha Dhakal</p> 
		    <p>11:30 - 11:45</p> 
		    <p>History of SFD</p> 
		    <p>Jurgen Gaeremyn</p> 
		    <p>11:45-12:05</p> 
		    <p>openHPC</p>
				<p>Shubham Joshi</p> 
		    <p>12:05 - 12:25</p> 
		    <p>Open Tech and Building Technology</p> 
		    <p>Arjun Gautam</p> 
		    <p>12:25 - 12:40</p> 
		    <p>Open Source Licenses</p> 
		    <p>Samikshya Upadhyay</p> 
		    <p>12:40 - 13:10</p> 
		    <p>Tea Break / Open Discussion</p> 
		    <p></p> 
		    <p>13:15 - 13:35</p> 
		    <p>Career in Open Source</p> 
		    <p>Damodar Lohani</p> 
				<p>13:35 - 14:35</p>
				<p>Libreoffice Localization</p>
				<p>Saroj Dhakal</p>
				<p>14:35 - 14:55</p>
				<p>Certificate Distribution and <br/> Token of Love Distribution</p>
				<p></p>
				<p>14:55 - 15:00</p>
				<p>KUOSC Project Announcement</p>
				<p></p>
				<p>15:00 - 3:20</p>
				<p>Cake Cutting and Photo Session</p>
				<p></p>
		  </div>
		</section>

		<!-- speakers -->
		<!-- <section id="speakers"> 
		  <h2>Speakers</h2> 
		  <div class="container speakers"> 
		    <div class="speaker"> 
		      <img src="/jurgen.webp" alt="" /> 
		      <h3>Jurgen Gaeremyn</h3> 
		      <p>Document Freedom <br> Foundation</p> 
		    </div> 
			<div class="speaker"> 
				<img src="/saroj.webp" alt="" /> 
				<h3>Saroj Dhakal</h3> 
				<p>Localization Expert</p> 
			  </div> 
		    <div class="speaker"> 
		      <img src="/subham.webp" alt="" /> 
		      <h3>Shubham Joshi</h3> 
		      <p> Network Engineer at <br> Dish Media Network Ltd. </p> 
		    </div> 
		    <div class="speaker"> 
		      <img src="/arjun.webp" alt="" /> 
		      <h3>Arjun Gautam</h3> 
		      <p>Open Tech Community</p> 
		    </div> 
		    <div class="speaker"> 
		      <img src="/damodar.webp" alt="" /> 
		      <h3>Damodar Lohani</h3> 
		      <p>Open Source Contributor</p> 
		    </div> 
		    <div class="speaker"> 
				<img src="/aadarsha.webp" alt="" /> 
				<h3>Aadarsha Dhakal</h3> 
				<p>KUOSC Coordinator</p> 
			  </div> 
			<div class="speaker"> 
				<img src="/samikshya.webp" alt="" /> 
				<h3>Samikshya Upadhyay</h3> 
				<p>KUOSC Member</p> 
			  </div> 
		  </div> 
		</section> -->
	</main>
	<Footer />
	<script src="../index.js"></script>
</Layout>
