---
import '../styles/style.scss';
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
import Layout from 'src/layout.astro';
---

<Layout title="Software Freedom Day 2024 - KUOSC">
	<header class="home">
		<img src="/assets/hero2023.jpg" alt="Hero image" class="hero-bg" />

		<!-- nav -->
		<Nav />

		<!-- hero section -->
		<section class="hero-section">
			<h1>Software Freedom Day! 2024</h1>
			<p>Kathmandu University, 21<sup>st</sup> September, 2024</p>

			<!-- countdown -->
			<div class="countdown-container">
				<div class="countdown animate__animated animate__lightSpeedInRight">
					<div class="time">
						<span id="days" class="num"></span>
						<span class="text">Days</span>
					</div>
					<div class="time">
						<span id="hours" class="num"></span>
						<span class="text">Hours</span>
					</div>
					<div class="time">
						<span id="minutes" class="num"></span>
						<span class="text">Minutes</span>
					</div>
					<div class="time">
						<span id="seconds" class="num"></span>
						<span class="text">Seconds</span>
					</div>
			</div>
					<a class="register-btn" href="https://forms.gle/cnF85VYFhBDMCrzA7" target="_blank">Register Here</a>
		</section>
	</header>

	<main>
		<section id="sfd">
			<h2>Software Freedom Day</h2>
			<p>Join us on <strong>Software Freedom Day (SFD)</strong>, organized by
				<strong>Kathmandu University Open Source Community (KUOSC)</strong> with
				support from Gnome Nepal, to celebrate and promote Free and Open Source
				Software (FOSS) in Nepal through exciting talks, panel discussion,
				and networking opportunities!
			</p>		
		</section>
		<section>
			<h2>Free And Open Software</h2>
			<div class="container info">
				<img src="/assets/FOSS.png" alt="FOSS" />
				<p>
					Free and Open Source Software (FOSS) refers to software that anyone
					is freely licensed to use, copy, study and change in any way that
					they want, and the source code is openly shared so that people are
					encouraged to volunterily improve the design of the software. Use of
					free software encourages learning and sharing what we have learned
					with others in the community. Other benifits of using FOSS would be
					to decreased software cost, protecting privecy and providing more
					control to the users.
				</p>
			</div>
		</section>
		<section>
			<h2>KUOSC</h2>
			<div class="container info">
				<div class="image-container">
					<img src="/assets/logo.png" alt="KUOSC" style="height: 25rem" />
				</div>
				<p>
					<a href="https://kuosc.org.np/"
						>Kathmandu University Open Source Community (KUOSC)</a
					>
					is the Open Source related wing of KUCC. It is a vibrant historic
					community from Kathmandu University which provides a common platform
					for all FOSS enthusiasts to discuss, share, and learn about free and
					open source softwares. KUOSC is specifically focused on all the Open
					Source related activities ranging from training programs like Linux
					Talks, Useful Network Training to advocacy activities like Software
					Freedom Day celebration and organizing different community level
					workshops and events.
				</p>
			</div>
		</section>
		<!-- events -->
		 <section id="events">
			<h2>Events</h2>
			<div class="container events-container">
				<div class="events">
					<h3>SFD Eve</h3>
					<p><b>Date</b> 20 September, 2024</p>
					<p><b>Time</b> 5 PM onwards</p>
					<p><b>Venue</b> KU Fountain</p>
				</div>

				<div class="events">
					<h3>SFD Event</h3>
					<p><b>Date</b> 21 September, 2024</p>
					<p><b>Time</b> 11:00 AM - 4:00 PM</p>
					<p><b>Venue</b> KU CIKU Hall</p>
				</div>
			</div>
		</section>

		<!-- schedule -->
		<section id="schedule"> 
		  <h2>Schedule For The Event</h2> 
		  <div class="container schedule"> 
		    <h3>Time</h3> 
		    <h3>Topic</h3> 
		    <h3>Speaker</h3> 
		    <p>11:10 - 11:15</p> 
		<p>Introduction to KUOSC, FOSS and SFD</p> 
		    <p>Sugat Sujakhu</p> 
		    <p>11:15 - 11:30</p> 
		    <p>Introduction to GNOME Nepal</p> 
		    <p>Aaditya Singh</p> 
		    <p>11:30 - 11:45</p> 
		    <p>The Origin of KUOSC</p> 
		    <p>Prabin Gautam</p> 
		    <p>11:45-12:10</p> 
		    <p>DFF's Legacy and the Role of Local Communities</p>
				<p>Jurgen Gaeremyn</p> 
		    <p>12:10 - 12:40</p> 
		    <p>A Fun Session about FOSS</p> 
		    <p>Sabin Thapa</p> 
		    <p>12:40 - 13:00</p> 
		    <p>A Talk on Open Data</p> 
		    <p>Nikesh Balami</p> 
		    <p>13:00 - 13:30</p> 
		    <p>Tea Break / Open Discussion</p> 
		    <p></p> 
		    <p>13:30 - 14:30</p> 
		    <p>Panel Discussion</p> 
		<p>Saroj Dahal<br/>
			Damodar Lohani<br/> 
			Sanjog Sigdel<br/>
			Prayas Poudel </p> 
				<p>14:30 - 14:50</p>
				<p>Open Source Licenses</p>
				<p>Sunidhi Sharma</p>
				<p>14:50 - 15:10</p>
		<p>Containers and Virtualization</p>
				<p>Aayush Pokharel</p>
				<p>15:10 - 15:30</p>
		<p>Introduction to Localization</p>
				<p>Ashwini Subedi</p>
		<p>15:30 - 15:45</p>
		<p>Top Contributor Prize Distribution</p>
		<p></p>
		<p>15:45 - 16:00</p>
		<p>Cake Cutting and photo session</p>
		<p></p>
		  </div>
		</section>

		<!-- speakers -->
	 <section id="speakers"> 
		  <h2>Speakers</h2> 
		  <div class="container speakers"> 
		    <div class="speaker"> 
		      <img src="/jurgen.webp" alt="" /> 
		      <h3>Jurgen Gaeremyn</h3> 
		      <p>Document Freedom <br> Foundation</p> 
		    </div> 
			<div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Saroj Dahal</h3> 
			<p>Content Creator at <br> EverydayKarma</p> 
			  </div> 
		    <div class="speaker"> 
		      <img src="" alt="" /> 
		      <h3>Bishworaj Poudel</h3> 
		      <p>Content Creator at <br>Technology Channel</p> 
		    </div> 
		    <div class="speaker"> 
		      <img src="" alt="" /> 
		      <h3>Nikesh Balami</h3> 
		      <p>Open Tech Community</p> 
		    </div> 
		    <div class="speaker"> 
		      <img src="/damodar.webp" alt="" /> 
		      <h3>Damodar Lohani</h3> 
		      <p>Open Source Contributor</p> 
		    </div> 
		    <div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Prayas Poudel </h3> 
				<p>Open Source Contributor</p> 
			  </div> 
			<div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Aaditya Singh</h3> 
			<p>President, GNOME Nepal</p> 
		</div>
	<div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Prabin Gautam</h3> 
			<p>Past KUOSC Coordinator</p> 
		</div>


 <div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Sanjog Sigdel</h3> 
				<p></p> 
		</div>

 <div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Sabin Thapa</h3> 
				<p>Github Campus Expert</p> 
			  </div> 
 <div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Sugat Sujakhu</h3> 
				<p>KUOSC Coordinator</p> 
			  </div> 
 <div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Ashwini Subedi</h3> 
				<p>KUOSC Member</p> 
			  </div> 
 <div class="speaker"> 
				<img src="" alt="" /> 
				<h3>Sunidhi Sharma</h3> 
				<p>KUOSC Member</p> 
			  </div> 

		  </div> 
		</section> -->
	</main>
	<Footer />
	<script src="../index.js"></script>
</Layout>
