<footer>
  <div class="container">
    <div>
      <b>Mail Us At:</b>
      <a href="mailto:contact@kuosc.org.np">contact@kuosc.org.np</a>
    </div>
    <div>
      <a href="/codeofconduct/">Code of Conduct</a><a
        href="https://kuosc.org.np/">KUOSC</a
      >
      <a href="https://kucc.ku.edu.np/">KUCC</a>
    </div>
  </div>
</footer>
