---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"
    ></script>

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
      name="description"
      content="Software Freedom Day (SFD) is an annual global celebration of Free and Open Source Software(FOSS). It is celebrated with the aim to educate the public and increase awareness about Free software, its benefits and encouraging its use."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sfd.kuosc.org.np" />
    <meta property="og:title" content="Software Freedom Day 2023 - KUOSC" />
    <meta
      property="og:description"
      content="Software Freedom Day (SFD) is an annual global celebration of Free and Open Source Software(FOSS). It is celebrated with the aim to educate the public and increase awareness about Free software, its benefits and encouraging its use."
    />
    <meta
      property="og:image"
      content="https://www.softwarefreedomday.org/images/warptheme/ilovesfd.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://sfd.kuosc.org.np" />
    <meta property="twitter:title" content={title} />
    <meta
      property="twitter:description"
      content="Software Freedom Day (SFD) is an annual global celebration of Free and Open Source Software(FOSS). It is celebrated with the aim to educate the public and increase awareness about Free software, its benefits and encouraging its use."
    />
    <meta
      property="twitter:image"
      content="https://www.softwarefreedomday.org/images/warptheme/ilovesfd.png"
    />
  </head>

  <body>
    <slot />
  </body>
</html>
