main {
  & > section:nth-child(2n) {
    background: var(--bg-secondary);

    @media (min-width: 1000px) {
      .info :first-child {
        order: 2;
      }
    }
  }

  section {
    padding: var(--gap-1);
    display: grid;
    place-items: center;

    .container {
      max-width: var(--max-width);
      margin-inline: auto;
    }

    .info {
      > * {
        border-radius: var(--radius-1) !important;
        overflow: hidden !important;
      }

      display: grid;
      place-items: center;
      grid-template-columns: repeat(2, 1fr);

      gap: var(--gap-1);
      font-size: var(--fz-xl);

      & > .image-container {
        width: 100%;
        object-fit: contain;
      }

      p {
        max-width: 50ch;
      }

      .share {
        all: unset;
        cursor: pointer;
        position: relative;

        iconify-icon {
          color: #0af;
          font-size: 3rem;
          position: absolute;
          top: 0;
          left: 0;
          display: grid;
          place-items: center;
          height: 100%;
          width: 100%;
          background: #0008;
          opacity: 0;
          transition: var(--transition-1);
          z-index: 1;
        }

        &:hover {
          iconify-icon {
            opacity: 1;
          }
        }
      }
    }
  }

  h2 {
    font-size: var(--fz-3xl);
    position: relative;
    width: fit-content;
    text-align: center;
    display: grid;
    place-items: center;
    margin-bottom: var(--gap-lg);

    &::after {
      content: "";
      display: block;
      height: 0.2em;
      width: 50%;
      background: currentColor;
    }
  }

  .events-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap-1);

    .events {
      background: #fff3;
      border-radius: calc(var(--radius-1) * 2);
      padding-inline: var(--gap-1);
      padding-block: calc(var(--gap-1) / 2);
      padding-block: var(--gap-lg);
      box-shadow: var(--shadow-2);

      h3 {
        font-size: var(--fz-2xl);
        text-align: center;
        margin-bottom: var(--gap-lg);
        width: fit-content;
        margin-inline: auto;
        display: grid;
        place-items: center;

        &::after {
          content: "";
          display: block;
          height: 0.2em;
          opacity: 0.4;
          width: 50%;
          background: currentColor;
        }
      }

      p {
        font-size: calc(var(--fz-2xl) * 0.9);
        margin: calc(var(--gap-small) * 2);

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: 100%;
          position: absolute;
          background: currentColor;
          opacity: 0.2;
          bottom: calc(var(--gap-small) * -1);
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .info,
    .events-container {
      grid-template-columns: 1fr !important;
    }
  }
}
