dialog.share-modal {
  background: var(--bg-header-footer);
  border: none;
  font-family: inherit;
  color: var(--text-secondary);
  padding: var(--gap-1);

  &::backdrop {
    background: #0006;
    backdrop-filter: blur(2px);
  }

  [method="dialog"] button {
    padding: 0;
    all: unset;
    font-size: 3rem;
    color: var(--text-secondary);
    position: absolute;
    top: calc(var(--gap-small) / 2);
    right: calc(var(--gap-small) * 2);
    cursor: pointer;
  }

  .btn-container {
    padding: var(--gap-lg);
  }

  #copy-sfd {
    background: none;
    border: none;
    color: var(--text-secondary);
    font-size: var(--fz-3xl);
    cursor: pointer;
    transition: var(--transition-1);
    border-radius: var(--radius-1);
    display: flex;
    align-items: center;
    gap: var(--gap-small);

    &:hover,
    &:focus {
      background: #fff2;
    }

    iconify-icon {
      color: #0ccaca;
    }

    &:active {
      background: none;
    }
  }
}
