$blur: 10px;
nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background: var(--bg-secondary);
  height: var(--nav-height);
  display: grid;
  place-items: center;
  backdrop-filter: blur($blur);
  box-shadow: var(--shadow-1);

  & > div {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--gap-1);

    ul {
      display: flex;
      background: var(--bg-secondary);
      align-items: center;
      list-style: none;
      gap: calc(var(--gap-1, 1rem) * 1.5);
    }
  }

  .hamburger-container {
    display: none;
  }

  @media (max-width: 50rem) {
    &.show-nav {
      box-shadow: unset;
    }

    .hamburger-container {
      display: block;
    }

    ul {
      position: absolute;
      top: 100%;
      margin: 0;
      left: 0;
      width: 100%;
      background: var(--bg-primary);
      flex-direction: column;
      backdrop-filter: blur($blur);
      scale: 1 0;
      transition: var(--transition-2);
      transform-origin: top;
      padding-block: var(--gap-1);

      align-items: unset !important;

      &.show {
        scale: 1 1;
      }
    }
  }

  .link-container {
    display: flex;
    align-items: center;
    gap: 0.3em;

    iconify-icon {
      font-size: 1.2em;
    }
  }
  a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: 700;
  }

  a.active,
  a:active {
    color: var(--text-secondary);
  }

  img {
    aspect-ratio: 1;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo a {
    display: flex;
    align-items: center;
  }
}
